name: XY-GOD-SCRAPER

on:
  repository_dispatch:
    types: [trigger_scraper] # Supaya bisa dipicu instan dari Web!
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install
        run: |
          cd worker
          npm init -y
          npm install puppeteer firebase
      - name: Run
        env:
          FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
        run: node worker/scraper.js